<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crypton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crypton">

        <activity
            android:name=".designs.furnitureapp.activities.NavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation" />

        <activity
            android:name=".designs.fleettravelapp.activities.OptionsActivity"
            android:exported="true" />
        <activity
            android:name=".designs.fleettravelapp.activities.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.DemoActivity"
            android:exported="true" />

        <activity
            android:name=".designs.furnitureapp.activities.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".designs.fleettravelapp.activities.DashBoardActivity"
            android:exported="true"/>
        <activity
            android:name=".fragmentsbasics.DemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>